<ul>
<% @questions.each_with_index do |question,index| %>
<li class="<%= '_active' if index == 0%>">
	<h3 class="header-question">Question #<%= index+1%></h3>
	<p><%= question.title%></p>
</li>
<%end%>
</ul>