<%= render 'header' %>

<section>
	<form method="POST" action="/buzz" id="form">
		<fieldset>
			<label for="Name" class="mobile-hidden">Name</label>
			<input type="text" placeholder="Name" name="name" id="name" value="<%= @name %>">
		</fieldset>
		<fieldset>
			<label for="Team">Team</label>
			<select name="team" id="team">
				<option value="" disabled selected>Select your option</option>
				<% @teams.each do |key,value| %>
				<option value="<%= key %>" <%= "selected" if key == @team %>><%= key %></option>
				<% end %>
			</select>
		</fieldset>
	</form>
	<button id="buzzer"> buzz </button>
</section>